.apartments {
  &-top {
    padding: 4rem 0rem;
    position: relative;
    min-height: 85.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 15rem;

    @include breakpoint($xl-bp) {
      min-height: 56rem;
      margin-bottom: 10rem;
    }

    @include breakpoint($sm-bp) {
      min-height: 71.3rem;
      padding: 2rem 0;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &[data-mask] {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    &__container {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &__inner {
      padding: 10rem;
      background-color: $orange;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @include breakpoint($xl-bp) {
        padding: 4rem;
      }

      @include breakpoint($sm-bp) {
        padding: 1.5rem;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 3.6rem;
      color: $white-1;

      @include breakpoint($sm-bp) {
        font-size: 2.6rem;
      }
    }

    &__text {
      font-size: 1.8rem;
      color: $white-1;
      @include text;

      @include breakpoint($sm-bp) {
        font-size: 1.4rem;
      }
    }

    &__link {
      min-width: 35.8rem;

      @include breakpoint($sm-bp) {
        min-width: unset;
        width: 100%;
      }
    }
  }

  &-trend {
    margin-bottom: 15rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 10rem;
    }

    &__title {
      br {
        display: none;

        @include breakpoint($sm-bp) {
          display: inline-block;
        }
      }
    }

    &__container {
      overflow: hidden;
    }

    &-swiper {
      width: calc(100% + 3rem);
      margin-right: -3rem;

      @include breakpoint($sm-bp) {
        width: 100%;
        margin: 0;
      }

      &__wrapper {
        margin-bottom: 3rem;
        display: flex;
        align-items: stretch;
      }

      &-slide {
        height: auto;
        padding-right: 3rem;

        @include breakpoint($sm-bp) {
          padding: 0;
        }

        &__inner {
          height: 100%;
          padding: 3rem;
          background-color: $grey;
          border-radius: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        &__title {
          font-weight: 700;
          font-size: 1.8rem;
          text-transform: uppercase;
        }

        &__text {
          @include text;

          @include breakpoint($sm-bp) {
            font-size: 1.4rem;
          }
        }
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap-reverse;
      width: calc(100% - 3rem);

      @include breakpoint($sm-bp) {
        width: 100%;
      }

      &__link {
        min-width: 35.8rem;

        @include breakpoint($sm-bp) {
          min-width: unset;
          width: fit-content;
        }
      }
    }
  }

  &-catalog {
    margin-bottom: 6.5rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 4rem;
    }

    &__container {
      overflow: hidden;
    }

    &__bullets {
      display: none;
      margin-top: 2rem;
      margin-left: auto;
      width: fit-content;

      @include breakpoint($sm-bp) {
        display: flex;
      }
    }

    &-swiper {
      width: calc(100% + 9rem);
      margin: 0rem -6rem 0 -3rem;
      padding: 3rem;

      @include breakpoint($sm-bp) {
        width: calc(100% + 3rem);
        margin: -3rem -1.5rem -3rem;
        padding: 3rem 1.5rem;
      }

      &__wrapper {
        display: flex;
        align-items: stretch;
      }

      &-slide {
        padding-right: 3rem;
        height: auto;

        @include breakpoint($sm-bp) {
          padding-right: 0;
        }
      }
    }
  }

  &-baner {
    min-height: 34.8rem;
    display: flex;
    align-items: center;
    padding: 5rem 0;
    background: url(../images/baner-mask-left.png) left top / 52rem no-repeat,
      url(../images/baner-mask-right.png) right top / 52rem no-repeat, $grey;
    margin-bottom: 7.5rem;

    @include breakpoint($sm-bp) {
      min-height: unset;
      background: url(../images/baner-mask-left.png) -14.1rem top / 37.4rem no-repeat,
        url(../images/baner-mask-right.png) calc(100% + 7rem) top / 37.4rem no-repeat, $grey;
      margin-bottom: 7.5rem;
    }

    &__container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5.8rem;

      @include breakpoint($sm-bp) {
        gap: 3rem;
      }
    }

    &__title {
      margin: 0;
      text-align: center;
    }

    &__link {
      width: 100%;
      max-width: 56rem;
    }
  }

  &-income {
    margin-bottom: 15rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 5rem;
    }

    &__container {
      overflow: hidden;
    }

    &__bullets {
      display: none;
      width: fit-content;
      margin-left: auto;
      margin-top: 2rem;
      margin-right: 3rem;

      @include breakpoint($xl-bp) {
        display: flex;
      }

      @include breakpoint($sm-bp) {
        margin-right: 0;
      }
    }

    &-swiper {
      width: calc(100% + 3rem);
      margin-right: -3rem;
      margin-bottom: 7.5rem;

      @include breakpoint($sm-bp) {
        margin: 0rem -1.5rem 5rem;
        padding: 0rem 1.5rem;
      }

      &__wrapper {
        display: flex;
        align-items: stretch;
      }

      &-slide {
        padding-right: 3rem;

        @include breakpoint($sm-bp) {
          width: 26.3rem;
        }

        &__inner {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        &__title {
          font-weight: 700;
          font-size: 1.8rem;
          text-transform: uppercase;
          position: relative;
          min-height: 6.7rem;
          padding-bottom: 1rem;

          &::after {
            content: "";
            width: 5rem;
            border-bottom: 0.4rem solid $orange;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }

        &__text {
          font-size: 1.8rem;
          @include text;
        }
      }
    }

    &-info {
      padding: 7.5rem 5rem;
      background-color: $orange;

      @include breakpoint($xl-bp) {
        width: calc(100% + 3rem);
        margin: 0rem -1.5rem;
      }

      @include breakpoint($sm-bp) {
        padding: 5rem 1.5rem;
      }

      &__title {
        color: $white-1;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5rem;

        @include breakpoint($sm-bp) {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 3.4rem 3rem;

        @include breakpoint($sm-bp) {
          padding: 0;

          &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
          }
        }

        &:nth-child(3n + 1) {
          padding-left: 0;
        }

        &:nth-child(3n + 3) {
          padding-right: 0;
        }

        &:nth-child(3n + 2) {
          border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
          border-left: 0.1rem solid rgba(255, 255, 255, 0.3);

          @include breakpoint($sm-bp) {
            border: none;
          }
        }

        &__number {
          font-weight: 800;
          font-size: 7rem;
          color: $white-1;
        }

        &__text {
          // font-weight: 700;
          font-size: 1.8rem;
          color: $white-1;
        }
      }
    }
  }

  &-fedback {
    margin-bottom: 15rem;
    padding: 6rem 0;
    background-color: $grey;

    @include breakpoint($xl-bp) {
      overflow: hidden;
    }

    @include breakpoint($sm-bp) {
      background-color: transparent;
      padding: 0;
      margin-bottom: 10rem;
    }

    &__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 3rem;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;

      @include breakpoint($xl-bp) {
        max-width: 45rem;
      }
    }

    &__inner {
      width: 63rem;
      display: grid;
      gap: 3rem;

      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      @include breakpoint($sm-bp) {
        gap: 2rem;
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 1.8rem;

      &:nth-child(1) {
        grid-area: 1/1/2/2;
      }

      &:nth-child(2) {
        grid-area: 1/2/2/3;
      }

      input {
        width: 100%;
        height: 5rem;
        border: 0.1rem solid $black;
        background-color: transparent;
        border-radius: 0;
        font-size: 1.8rem;
        padding: 0rem 1rem;
        outline: none;
        transition: 0.3s;

        &:focus {
          border-color: $orange;
        }
      }
    }

    &__btn {
      width: 100%;
      grid-area: 2/1/3/3;

      @include breakpoint($sm-bp) {
        margin-top: 1rem;
      }
    }

    &-images {
      position: absolute;
      width: 57rem;
      height: 50.4rem;
      right: -19.5rem;

      @include breakpoint($xl-bp) {
        right: -8rem;
      }

      @include breakpoint($sm-bp) {
        position: relative;
        width: 100%;
        height: 40rem;
        right: 0;
        top: 0;
      }

      &__item {
        position: absolute;

        &::before {
          content: "";
          width: 101%;
          height: 101%;
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          display: block;
          position: absolute;
          z-index: 1;
          top: 0rem;
          left: 0rem;
          background-color: rgba(64, 64, 64, 0.25);
        }

        &:nth-child(1) {
          width: 35rem;
          height: 35rem;
          top: 0;
          left: 0;

          @include breakpoint($sm-bp) {
            width: 28rem;
            height: 28rem;
            left: -3.9rem;
          }
        }

        &:nth-child(2) {
          width: 21.5rem;
          height: 21.5rem;
          top: 7rem;
          right: 9rem;

          @include breakpoint($sm-bp) {
            width: 17rem;
            height: 17rem;
            top: 5.6rem;
            right: 3.2rem;
          }
        }

        &:nth-child(3) {
          width: 30rem;
          height: 30rem;
          bottom: 0;
          right: 0;

          @include breakpoint($sm-bp) {
            width: 24rem;
            height: 24rem;
            right: -4rem;
          }
        }

        &:nth-child(4) {
          width: 22rem;
          height: 22rem;
          left: 13rem;
          bottom: 2rem;

          @include breakpoint($sm-bp) {
            width: 17.5rem;
            height: 17.5rem;
            left: 6.6rem;
            bottom: 1.5rem;
          }
        }

        img {
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  &-questions {
    margin-bottom: 15rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 5rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 5rem;
      border: 0.1rem solid $grey;

      @include breakpoint($sm-bp) {
        padding: 2rem;
        gap: 1.5rem;
      }

      &-item {
        display: flex;
        flex-direction: column;

        &._active {
          .apartments-questions-list-item__btn svg {
            transform: rotate(180deg);
          }

          .apartments-questions-list-item__text {
            padding-top: 5rem;

            @include breakpoint($sm-bp) {
              padding-top: 1.5rem;
            }
          }
        }

        &__btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          border: none;
          background-color: transparent;
          font-weight: 600;
          font-size: 2rem;
          padding: 0;
          text-align: left;

          @include breakpoint($sm-bp) {
            font-size: 1.6rem;
          }

          svg {
            flex: none;
            width: 1.7rem;
            height: 1.7rem;
            stroke: $black;
            transition: 0.5s;
          }
        }

        &__text {
          font-size: 1.8rem;
          overflow: hidden;
          transition: 0.5s;

          @include breakpoint($sm-bp) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
