<section class="apartments">

  <div class="apartments-top">
    <div class="apartments-top__bg">
      <img src="./assets/images/apartments-top.jpg" alt="">
    </div>

    <div class="container apartments-top__container">

      <div class="apartments-top__inner">
        <h2 class="apartments-top__title">Доходные апартаменты в центре города с доходностью 15-17% годовых</h2>

        <div class="apartments-top__text">
          <p>
            Узнай больше об инвестициях в апартаменты и получи полную презентацию всех апартаментов с актуальными ценами
          </p>
        </div>

        <a href="#" class="default-btn apartments-top__link">узнать цены</a>
      </div>

    </div>
  </div>

  <div class="apartments-trend">
    <div class="container apartments-trend__container">

      <h3 class="block-title apartments-trend__title">
        АПАРТАМЕНТЫ - НОВЫЙ ТРЕНД В ИНВЕСТИРОВАНИИ
      </h3>

      <div class="swiper apartments-trend-swiper">
        <div class="swiper-wrapper apartments-trend-swiper__wrapper">
          <div class="swiper-slide apartments-trend-swiper-slide">
            <div class="apartments-trend-swiper-slide__inner">
              <h5 class="apartments-trend-swiper-slide__title">Цена</h5>

              <div class="apartments-trend-swiper-slide__text">
                <p>
                  Стоимость апартаментов ниже стоимости жилой недвижимости, что делает их более доступными. Растут в
                  цене
                  даже в кризис, когда увеличивается спрос на ликвидную и доступную недвижимость.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-trend-swiper-slide">
            <div class="apartments-trend-swiper-slide__inner">
              <h5 class="apartments-trend-swiper-slide__title">ликвидность</h5>

              <div class="apartments-trend-swiper-slide__text">
                <p>
                  Апартаменты интересны как для инвестирования, так и для проживания. Растут в цене на любом рынке.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-trend-swiper-slide">
            <div class="apartments-trend-swiper-slide__inner">
              <h5 class="apartments-trend-swiper-slide__title">доходность</h5>

              <div class="apartments-trend-swiper-slide__text">
                <p>
                  Апартаменты дают возможность получать стабильный пассивный доход от 10% годовых благодаря сдаче в
                  аренду
                  через управляющую компанию.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-trend-swiper-slide">
            <div class="apartments-trend-swiper-slide__inner">
              <h5 class="apartments-trend-swiper-slide__title">Цена</h5>

              <div class="apartments-trend-swiper-slide__text">
                <p>
                  Стоимость апартаментов ниже стоимости жилой недвижимости, что делает их более доступными. Растут в
                  цене
                  даже в кризис, когда увеличивается спрос на ликвидную и доступную недвижимость.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-trend-swiper-slide">
            <div class="apartments-trend-swiper-slide__inner">
              <h5 class="apartments-trend-swiper-slide__title">ликвидность</h5>

              <div class="apartments-trend-swiper-slide__text">
                <p>
                  Апартаменты интересны как для инвестирования, так и для проживания. Растут в цене на любом рынке.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="apartments-trend-nav">
          <a href="#" class="default-btn default-btn_orange apartments-trend-nav__link">позвонить нам</a>

          <div class="swiper-bullet-wrapper apartments-trend-nav__bullets">
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="apartments-catalog">
    <div class="container apartments-catalog__container">

      <h3 class="block-title apartments-catalog__title">АПАРТАМЕНТЫ</h3>

      <div class="swiper apartments-catalog-swiper">
        <div class="swiper-wrapper apartments-catalog-swiper__wrapper">
          <div class="swiper-slide apartments-catalog-swiper-slide">
            <div class="apartments-catalog-swiper-slide__container">
              <div class="apartments-catalog-swiper-slide__img">
                <img src="./assets/images/apartments-catalog-1.jpg" alt="">

                <span class="apartments-catalog-swiper-slide__label">Продажа апартаментов</span>
              </div>

              <div class="apartments-catalog-swiper-slide__inner">
                <h4 class="apartments-catalog-swiper-slide__title">Санкт-петербург, садовая, 101</h4>

                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Доходность:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">15 %-17 %</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Количество апартаментов:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">20.05.2021</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Срок окупаемости:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">7-8 лет</p>
                </div>
              </div>

              <a href="#" class="default-btn default-btn_orange apartments-catalog-swiper-slide__link">
                запросить
                цену
              </a>
            </div>
          </div>
          <div class="swiper-slide apartments-catalog-swiper-slide">
            <div class="apartments-catalog-swiper-slide__container">
              <div class="apartments-catalog-swiper-slide__img">
                <img src="./assets/images/apartments-catalog-2.jpg" alt="">

                <span class="apartments-catalog-swiper-slide__label">Продажа апартаментов</span>
              </div>

              <div class="apartments-catalog-swiper-slide__inner">
                <h4 class="apartments-catalog-swiper-slide__title">Санкт-петербург, садовая, 101</h4>

                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Доходность:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">15 %-17 %</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Количество апартаментов:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">20.05.2021</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Срок окупаемости:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">7-8 лет</p>
                </div>
              </div>

              <a href="#" class="default-btn default-btn_orange apartments-catalog-swiper-slide__link">
                запросить
                цену
              </a>
            </div>
          </div>
          <div class="swiper-slide apartments-catalog-swiper-slide">
            <div class="apartments-catalog-swiper-slide__container">
              <div class="apartments-catalog-swiper-slide__img">
                <img src="./assets/images/apartments-catalog-3.jpg" alt="">

                <span class="apartments-catalog-swiper-slide__label">Продажа апартаментов</span>
              </div>

              <div class="apartments-catalog-swiper-slide__inner">
                <h4 class="apartments-catalog-swiper-slide__title">Санкт-петербург, садовая, 101</h4>

                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Доходность:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">15 %-17 %</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Количество апартаментов:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">20.05.2021</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Срок окупаемости:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">7-8 лет</p>
                </div>
              </div>

              <a href="#" class="default-btn default-btn_orange apartments-catalog-swiper-slide__link">
                запросить
                цену
              </a>
            </div>
          </div>
          <div class="swiper-slide apartments-catalog-swiper-slide">
            <div class="apartments-catalog-swiper-slide__container">
              <div class="apartments-catalog-swiper-slide__img">
                <img src="./assets/images/apartments-catalog-3.jpg" alt="">

                <span class="apartments-catalog-swiper-slide__label">Продажа апартаментов</span>
              </div>

              <div class="apartments-catalog-swiper-slide__inner">
                <h4 class="apartments-catalog-swiper-slide__title">Санкт-петербург, садовая, 101</h4>

                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Доходность:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">15 %-17 %</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Количество апартаментов:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">20.05.2021</p>
                </div>
                <div class="apartments-catalog-swiper-slide__info">
                  <h6 class="apartments-catalog-swiper-slide__info-title">Срок окупаемости:</h6>
                  <p class="apartments-catalog-swiper-slide__info-text">7-8 лет</p>
                </div>
              </div>

              <a href="#" class="default-btn default-btn_orange apartments-catalog-swiper-slide__link">
                запросить
                цену
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-bullet-wrapper apartments-catalog__bullets">
        </div>
      </div>

    </div>
  </div>

  <div class="apartments-baner">
    <div class="container apartments-baner__container">

      <div class="apartments-baner__inner">
        <h3 class="block-title apartments-baner__title">ПОЛНЫЙ КАТАЛОГ АПАРТАМЕНТОВ</h3>

        <a href="#" class="default-btn default-btn_orange apartments-baner__link">выбрать апартаменты</a>
      </div>

    </div>
  </div>

  <div class="apartments-income">
    <div class="container apartments-income__container">

      <h3 class="block-title apartments-income__title">
        КАК ЗАРАБОТАТЬ НА АПАРТАМЕНТАХ
      </h3>

      <div class="swiper apartments-income-swiper">
        <div class="swiper-wrapper apartments-income-swiper__wrapper">
          <div class="swiper-slide apartments-income-swiper-slide">
            <div class="apartments-income-swiper-slide__inner">
              <h5 class="apartments-income-swiper-slide__title">Стоимость апартаментов ниже, чем квартиры</h5>

              <div class="apartments-income-swiper-slide__text">
                <p>
                  Стоимость апартаментов на рынке Санкт-Петербурга и Москвы в среднем на 15–20 % ниже, чем на квартиры
                  равнозначной площади в одном районе. Следовательно, на первом этапе вложений удастся сэкономить до
                  нескольких миллионов рублей.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-income-swiper-slide">
            <div class="apartments-income-swiper-slide__inner">
              <h5 class="apartments-income-swiper-slide__title">Арендный доход от апартаментов выше, чем от квартиры
              </h5>

              <div class="apartments-income-swiper-slide__text">
                <p>
                  Арендный доход апартаментов за счёт сдачи посуточно выше, чем от обычных квартир. Поэтому средний срок
                  окупаемости апартаментов - 7-8 лет, в отличие от тех же квартир. Срок окупаемости которых всегда
                  больше 10 лет, а часто достигает 12-15 лет.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-income-swiper-slide">
            <div class="apartments-income-swiper-slide__inner">
              <h5 class="apartments-income-swiper-slide__title">Доходность распределяется между владельцами</h5>

              <div class="apartments-income-swiper-slide__text">
                <p>
                  За счёт котлового метода сдачи номеров доходность от аренды равномерно распределяется между
                  владельцами.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide apartments-income-swiper-slide">
            <div class="apartments-income-swiper-slide__inner">
              <h5 class="apartments-income-swiper-slide__title">Обслуживание номеров берет на себя управляющая компания
              </h5>

              <div class="apartments-income-swiper-slide__text">
                <p>
                  Управляющая компания берёт на себя всю заботу о вселении/выселении постояльцев, обслуживании номеров,
                  мелкий ремонт и следит за порядком.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-bullet-wrapper apartments-income__bullets">
        </div>
      </div>

      <div class="apartments-income-info">
        <h4 class="block-title apartments-income-info__title">как мы работаем</h4>

        <ul class="apartments-income-info__list">
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">1</span>
            <p class="apartments-income-info-item__text">
              Вы оставляете заявку
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">2</span>
            <p class="apartments-income-info-item__text">
              Мы отправляем вам актуальные варианты
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">3</span>
            <p class="apartments-income-info-item__text">
              Проводим экскурсию, выбираем апартаменты
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">4</span>
            <p class="apartments-income-info-item__text">
              Оформляем собственность
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">5</span>
            <p class="apartments-income-info-item__text">
              Заключаем договор с УК (по желанию)
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">6</span>
            <p class="apartments-income-info-item__text">
              Получаем доход
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="apartments-fedback">
    <div class="container apartments-fedback__container">

      <form action="#" class="apartments-fedback__form">
        <h3 class="block-title apartments-fedback__title">получи персональное предложение</h3>

        <div class="apartments-fedback__inner">
          <label class="apartments-fedback__input">
            Имя
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            Телефон
            <input type="text">
          </label>

          <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
            получить предложение
          </button>
        </div>
      </form>

      <div class="apartments-fedback-images">
        <div class="apartments-fedback-images__item">
          <img src="./assets/images/apartments-fedback-1.jpg" alt="">
        </div>
        <div class="apartments-fedback-images__item">
          <img src="./assets/images/apartments-fedback-2.jpg" alt="">
        </div>
        <div class="apartments-fedback-images__item">
          <img src="./assets/images/apartments-fedback-3.jpg" alt="">
        </div>
        <div class="apartments-fedback-images__item">
          <img src="./assets/images/apartments-fedback-4.jpg" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="apartments-questions">
    <div class="container">

      <h3 class="block-title apartments-questions__title">Часто задаваемые вопросы</h3>

      <ul class="apartments-questions-list">
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Прописка в апартаментах, как получить, что для этого нужно
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Содержание аппартаментов и коммунальные услуги
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Плюсы и минусы апартаментов по сравнению с квартирой
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Что означает статус апартаментов? И на что он влияет?
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </div>

</section>