<section class="case">

  <div class="case-head">
    <div class="container case-head__container">
      <h1 class="block-title case-head__title">Пресня, Малая Грузинская д.3-9</h1>

      <div class="case-head__text">
        <p>
          Инвестируй в создание доходных апартаментов. <br>
          Порог входа от 250 000 рублей. <br>
          Срок реализации: 10 месяцев с даты государственной регистрации права собственности ПК на объект. <br>
          Доходность 22% за проект.
        </p>
      </div>

      <a href="#" class="default-btn default-btn_orange case-head__link">Написать в чат менеджеру</a>
    </div>
  </div>

  <div class="container">

    <div class="case-text">
      <h3>О ЛОКАЦИИ</h3>

      <p>
        Инвестиционный объект Пресня, расположен в Центральном административном округе (Пресненский район) Москвы,
        внутри ТТК, вблизи западной части Садового кольца.
      </p>
      <br> <br>
      <p>
        Удачное расположение является большим преимуществом локации, шаговая доступность до Белого Дома (Дома
        Правительства России), улиц Новый Арбат и 1905 года. Всего в 3х километрах от Московского Кремля и Большого
        театра, в 2х километрах от Москва-Сити, в 1,5х километрах от улиц Тверская и метро Маяковская.
      </p>
      <br><br>
      <p>
        <strong>А так же:</strong>
      </p>
      <ul>
        <li>7 минут пешком до Московского Зоопарка</li>
        <li>5 минут пешком до Метро Краснопресненская</li>
        <li>15 минут пешком до Патриарших Прудов</li>
        <li>10 минут пешком до Садового Кольца</li>
      </ul>
      <br><br>
      <p>
        Общая площадь помещения : 457 м2. Окна: во двор и на улицу. Высота потолка: 2,6-2,7 м. Количество апартаментов
        по завершении работ: 20 Все апартаменты будут сдаваться с предчистовой отделкой и оборудованным санузлом.
        Чистовая отделка и полная меблировка, будут реализовываться за дополнительную плату. Для конечного приобретателя
        - есть возможность заключить договор с УК для получения пассивного дохода.
      </p>
    </div>

    <div class="case-map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor"
        width="100%" height="100%" frameborder="0"></iframe>
    </div>

    <div class="case-about">
      <h3 class="case-about__title">О ПРОЕКТЕ</h3>

      <p class="case-about__text">
        Общая площадь помещения : 457 м2. Окна: во двор и на улицу. Высота потолка: 2,6-2,7 м. Количество апартаментов
        по завершении работ: 20 Все апартаменты будут сдаваться с предчистовой отделкой и оборудованным санузлом.
        Чистовая отделка и полная меблировка, будут реализовываться за дополнительную плату. Для конечного приобретателя
        - есть возможность заключить договор с УК для получения пассивного дохода.
      </p>

      <div class="swiper case-about__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide case-about__item">
            <img src="./assets/images/case-about-1.jpg" alt="">
          </div>
          <div class="swiper-slide case-about__item">
            <img src="./assets/images/case-about-1.jpg" alt="">
          </div>
        </div>

        <div class="swiper-bullet-wrapper case-about__bullets"></div>
      </div>

      <a href="#" class="default-btn default-btn_orange case-about__link">Скачать презентацию</a>
    </div>

    <div class="case-benefit">
      <div class="case-benefit__info">
        <h3 class="block-title case-benefit__title">ПРЕИМУЩЕСТВА</h3>

        <p class="case-benefit__text">
          Инвестиции в этот проект доступны для каждого
        </p>
      </div>

      <ul class="case-benefit__list">
        <li class="case-benefit-item">
          <span class="case-benefit-item__number">1</span>
          <h5 class="case-benefit-item__title">СТОИМОСТЬ ПРОЕКТА</h5>
          <p class="case-benefit-item__text">
            106 000 000 руб. (стоимость объекта - 59 055 000 руб., стоимость работ и материалов - 34 470 000 руб.,
            дополнительные расходы - 12 475 000 руб.)
          </p>
        </li>
        <li class="case-benefit-item">
          <span class="case-benefit-item__number">2</span>
          <h5 class="case-benefit-item__title">СРОК РЕАЛИЗАЦИИ</h5>
          <p class="case-benefit-item__text">
            10 месяцев с даты государственной регистрации права собственности ПК на объекты недвижимости
          </p>
        </li>
        <li class="case-benefit-item">
          <span class="case-benefit-item__number">3</span>
          <h5 class="case-benefit-item__title">ВЫГОДА УЧАСТНИКОВ</h5>
          <p class="case-benefit-item__text">
            + 22% - за проект
          </p>
        </li>
        <li class="case-benefit-item">
          <span class="case-benefit-item__number">4</span>
          <h5 class="case-benefit-item__title">ИНВЕСТИЦИИ</h5>
          <p class="case-benefit-item__text">
            От 250 000 руб
          </p>
        </li>
      </ul>
    </div>

    <div class="case-region">
      <h3 class="case-region__title">ПОЧЕМУ МОСКВА?</h3>

      <p class="case-region__text">Почему люди выбирают именно Москву</p>

      <div class="swiper case-region__swiper">
        <ul class="swiper-wrapper case-region__list">
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-1.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Круглогодичные культурно-массовые мероприятия
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-2.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Крупные предприятия и деловые центры
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-3.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Спортивные мероприятия
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-4.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Миграция населения из регионов
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-5.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Москва - столица России и центр притяжения
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-6.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Большое количество вузов
              и других учебных заведений
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-7.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Разнообразие парков и зон отдыха
            </p>
          </li>
          <li class="swiper-slide case-region-item">
            <div class="case-region-item__img">
              <img src="./assets/images/case-region-8.jpg" alt="">
            </div>
            <p class="case-region-item__text">
              Крупные заводы и фабрики
            </p>
          </li>
        </ul>
        <div class="swiper-bullet-wrapper case-region__bullets"></div>
      </div>
    </div>

  </div>

  <div class="feedback case-feedback">
    <div class="container feedback__container">

      <form action="#" class="feedback-form">
        <h3 class="block-title feedback__title">
          Получите полную презентацию объекта и этапы реализации сделки
        </h3>

        <div class="feedback__inner">
          <label class="apartments-fedback__input">
            Имя
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            E-mail
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            Телефон
            <input type="text">
          </label>

          <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
            Отправить
          </button>
        </div>
      </form>

    </div>
  </div>

</section>