<section class="case">

  <div class="case-head">
    <div class="container case-head__container">
      <h1 class="block-title case-head__title">Суворовский, 39</h1>

      <div class="case-head__text">
        <p>
          Стань владельцем доходных апартаментов в историческом центре города, для жизни и инвестиций по цене студии в
          спальном районе.
        </p>
        <ul>
          <li>20 доходных апартаментов</li>
          <li>Доходность до 12% годовых</li>
          <li>Стоимость от 2 490 000 руб.</li>
        </ul>
      </div>

      <a href="#" class="default-btn default-btn_orange case-head__link">Написать в чат менеджеру</a>
    </div>
  </div>

  <div class="container">

    <div class="case-text">
      <h3>О ЛОКАЦИИ</h3>

      <p>
        Инвестиционный объект Суворовский 39 находится в самом центре Санкт-Петербурга. Исторический район
        Пески-Рождественский находится на месте песчаной гряды, формированной древним Литориновым морем, которая
        пролегала
        вдоль современного Лиговского проспекта до самой Невы.
      </p>
      <br><br>
      <p>
        Удачное расположение будущего отеля, шаговая доступность до центрального железнодорожного вокзала и Невского
        проспекта, а также всех основных достопримечательностей города. Все это делает объект интересным для инвесторов
        и
        конечных приобретателей. 15 минут пешком до ст.м.пл. Восстания, 15 минут пешком до ж/д вокзала “Московский” и 5
        минут пешком до Таврического сада.
      </p>
      <br><br>
      <p>
        Общая площадь помещения: 309м2. Окна: во двор и на улицу. Высота потолка: 2,9 м. Количество апартаментов по
        завершении работ: 19. Все апартаменты будут сдаваться с полной чистовой отделкой, мебелью и техникой. Для
        конечного приобретателя - есть возможность заключить договор с УК для получения пассивного дохода.
      </p>
    </div>

    <div class="case-map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor"
        width="100%" height="100%" frameborder="0"></iframe>
    </div>

    <div class="case-photo">
      <div class="case-photo__head">
        <h3 class="block-title case-photo__title">ФОТО ОБЪЕКТА</h3>
      </div>

      <div class="swiper case-photo__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide case-photo__item">
            <img src="./assets/images/case-photo-1.jpg" alt="">
          </div>
          <div class="swiper-slide case-photo__item">
            <img src="./assets/images/case-photo-2.jpg" alt="">
          </div>
          <div class="swiper-slide case-photo__item">
            <img src="./assets/images/case-photo-1.jpg" alt="">
          </div>
          <div class="swiper-slide case-photo__item">
            <img src="./assets/images/case-photo-2.jpg" alt="">
          </div>
          <div class="swiper-slide case-photo__item">
            <img src="./assets/images/case-photo-1.jpg" alt="">
          </div>
        </div>

        <div class="swiper-bullet-wrapper case-photo__bullets"></div>
      </div>
    </div>

    <div class="case-steps">
      <h3 class="block-title case-steps__title">КАК ПРИОБРЕСТИ</h3>

      <div class="case-steps__inner">
        <p class="case-steps__text">Этапы приобретения апартаментов</p>

        <ul class="case-steps__list">
          <li class="case-steps-item">
            <span class="case-steps-item__number">1</span>
            <p class="case-steps-item__text">Аванс</p>
          </li>
          <li class="case-steps-item">
            <span class="case-steps-item__number">2</span>
            <p class="case-steps-item__text">Получение собственности</p>
          </li>
          <li class="case-steps-item">
            <span class="case-steps-item__number">3</span>
            <p class="case-steps-item__text">Подписание ДКП у нотариуса</p>
          </li>
          <li class="case-steps-item">
            <span class="case-steps-item__number">4</span>
            <p class="case-steps-item__text">Внесение полной стоимости на реквизиты нотариуса</p>
          </li>
          <li class="case-steps-item">
            <span class="case-steps-item__number">5</span>
            <p class="case-steps-item__text">Подготовка документов</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="case-progress">
      <h3 class="block-title case-progress__title">КАК СОЗДАВАЛСЯ ПРОЕКТ</h3>
      <p class="case-progress__text">Посмотрите фото объекта на разных этапах работ</p>

      <ul class="case-progress__list">
        <li class="case-progress-item">
          <div class="swiper case-progress-item__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-1.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-1.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-bullet-wrapper case-progress-item__bullets"></div>
          <p class="case-progress-item__text">До начала работ</p>
        </li>
        <li class="case-progress-item case-progress-item_current">
          <div class="swiper case-progress-item__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-2.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-2.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-progress-2.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-bullet-wrapper case-progress-item__bullets"></div>
          <p class="case-progress-item__text">Текущая стадия</p>
        </li>
        <li class="case-progress-item">
          <div class="swiper case-progress-item__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-photo-1.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-photo-1.jpg" alt="">
              </div>
              <div class="swiper-slide case-progress-item__img">
                <img src="./assets/images/case-photo-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-bullet-wrapper case-progress-item__bullets"></div>
          <p class="case-progress-item__text">Как будет выглядеть объект</p>
        </li>
      </ul>
    </div>

    <div class="case-available">
      <h3 class="block-title case-available__title">ДОСТУПНЫЕ АПАРТАМЕНТЫ</h3>

      <p class="case-available__text">В проекте представлены студии от 10,1 м² до 16,1 м²</p>

      <div class="swiper case-available__swiper">
        <ul class="swiper-wrapper case-available__list">
          <li class="swiper-slide case-available-item">
            <h5 class="case-available-item__title">Студия №1</h5>
            <div class="case-available-item__img">
              <img src="./assets/images/case-available-1.jpg" alt="">
            </div>
            <div class="case-available-item__text">
              <p>Площадь S = 10,1 м2</p>
              <p>Цена 2 690 000 руб</p>
            </div>
          </li>
          <li class="swiper-slide case-available-item">
            <h5 class="case-available-item__title">Студия №2</h5>
            <div class="case-available-item__img">
              <img src="./assets/images/case-available-2.jpg" alt="">
            </div>
            <div class="case-available-item__text">
              <p>Площадь S = 16,1 м2</p>
              <p>Цена 3 690 000 руб</p>
            </div>
          </li>
          <li class="swiper-slide case-available-item">
            <h5 class="case-available-item__title">Студия №3</h5>
            <div class="case-available-item__img">
              <img src="./assets/images/case-available-3.jpg" alt="">
            </div>
            <div class="case-available-item__text">
              <p>Площадь S = 12,3 м2</p>
              <p>Цена 3 490 000 руб</p>
            </div>
          </li>
        </ul>

        <div class="swiper-bullet-wrapper case-available__bullets"></div>
      </div>
    </div>

    <div class="case-kit">
      <h3 class="block-title case-kit__title">КОМПЛЕКТАЦИЯ</h3>

      <p class="case-kit__text">
        Апартаменты передаются новому собственнику с отделкой, инженерией и полностью
        меблированными, включая в себя:
      </p>

      <ul class="case-kit__list">
        <li class="case-kit__item">кухонную мебель</li>
        <li class="case-kit__item">электроплиту</li>
        <li class="case-kit__item">тёплый пол</li>
        <li class="case-kit__item">кровать</li>
        <li class="case-kit__item">холодильник</li>
        <li class="case-kit__item">комплект арендатора</li>
        <li class="case-kit__item">стиральную машину</li>
        <li class="case-kit__item">бойлер</li>
        <li class="case-kit__item">индивидуальные приборы учёта (счётчики на воду и эл-во)</li>
      </ul>
    </div>

  </div>

  <div class="feedback case-feedback">
    <div class="container feedback__container">

      <form action="#" class="feedback-form">
        <h3 class="block-title feedback__title">
          Скачайте список апартаментов с актуальными ценами
        </h3>

        <div class="feedback__inner">
          <label class="apartments-fedback__input">
            Имя
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            E-mail
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            Телефон
            <input type="text">
          </label>

          <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
            Отправить
          </button>
        </div>
      </form>

    </div>
  </div>

</section>