<div class="feedback">
  <div class="container feedback__container">

    <form action="#" class="feedback-form">
      <h3 class="block-title feedback__title">Заполните форму</h3>

      <p class="feedback__subtitle">
        И получите сравнительный анализ доходности апартаментов в Москве и Санкт-Петербурге
      </p>

      <div class="feedback__inner">
        <label class="apartments-fedback__input">
          Имя
          <input type="text">
        </label>
        <label class="apartments-fedback__input">
          Телефон
          <input type="text">
        </label>

        <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
          получить предложение
        </button>
      </div>
    </form>

  </div>
</div>