<footer class="footer">
  <div class="container footer__container">

    <a href="#" class="footer__logo">
      <img src="./assets/images/logo.png" alt="">
    </a>

    <div class="footer-nav">
      <div class="footer-nav__list">
        <a href="#" class="footer-nav__link">апартаменты</a>
        <a href="#" class="footer-nav__link">инвестиции</a>
        <a href="#" class="footer-nav__link">каталог объектов</a>
        <a href="#" class="footer-nav__link">команда</a>
        <a href="#" class="footer-nav__link">контакты</a>
        <a href="#" class="footer-nav__link">клуб</a>
      </div>

      <div class="footer-nav__list">
        <a href="#" class="footer-nav__link">контакты</a>
        <a href="#" class="footer-nav__link footer-nav__link_small">Invest@mmir.pro</a>
        <a href="#" class="footer-nav__link footer-nav__link_small">СПб, Литейный пр. 26 <br> Москва, Пр. Мира 40</a>
      </div>

      <div class="footer-nav__list">
        <p class="footer-nav__link">по вопросам сотрудничества</p>
        <a href="#" class="footer-nav__link footer-nav__link_small">+7 (812) 313-27-40</a>
        <a href="#" class="footer-nav__link footer-nav__link_small">+7 (958) 578-24-25</a>
      </div>
    </div>

  </div>

  <div class="footer-legal">
    <div class="container footer-legal__container">
      <p class="footer-legal__text">2010-2019 Макромир</p>

      <a href="#" class="footer-legal__text">Политика конфиденциальности</a>

      <a href="#" class="footer-legal__text">Цены и тарифы</a>
    </div>
  </div>
</footer>