<header class="header">

  <div class="container">

    <div class="header__container">
      <a href="#" class="header__logo">
        <img src="./assets/images/logo.png" alt="">
      </a>

      <nav class="swiper header-nav">
        <div class="swiper-wrapper header-nav__list">
          <a href="#" class="swiper-slide header-nav__link">Главная</a>
          <a href="#" class="swiper-slide header-nav__link header-nav__link_orange">доходные апартамерты</a>
          <a href="#" class="swiper-slide header-nav__link">доступные инвестиции</a>
          <a href="#" class="swiper-slide header-nav__link">все объекты</a>
          <a href="#" class="swiper-slide header-nav__link">команда</a>
          <a href="#" class="swiper-slide header-nav__link">контакты</a>
          <a href="#" class="swiper-slide header-nav__link">клуб</a>
        </div>
      </nav>

    </div>

  </div>

</header>