<section class="investment">

  <div class="apartments-top investment-top">
    <div class="apartments-top__bg" data-mask>
      <img src="./assets/images/investment-top.jpg" alt="">
    </div>

    <div class="container apartments-top__container">

      <div class="apartments-top__inner">
        <h2 class="apartments-top__title">
          Доступные инвестиции
          от 250 000 рублей. <br>
          Доходность проектов
          от 25% годовых
        </h2>

        <div class="apartments-top__text">
          <p>
            Инвестируйте в создание доходных апартаментов в Москве и Санкт-Петербурге
          </p>
        </div>

        <a href="#" class="default-btn apartments-top__link">получить предложение</a>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="investment-info">
      <ul class="investment-info-list">
        <li class="investment-info-list-item">
          <svg>
            <use href="#time-money-icon"></use>
          </svg>

          <div class="investment-info-list-item__inner">
            <span class="investment-info-list-item__title">10 мес</span>
            <p class="investment-info-list-item__text">
              Минимальный срок проекта, в который мы инвестировали, составлял 6 месяцев. Максимальный - 14 месяцев.
            </p>
          </div>
        </li>
        <li class="investment-info-list-item">
          <svg>
            <use href="#coins-icon"></use>
          </svg>

          <div class="investment-info-list-item__inner">
            <span class="investment-info-list-item__title">3062</span>
            <p class="investment-info-list-item__text">
              клиентов уже одобрили ипотеку с нами
            </p>
          </div>
        </li>
        <li class="investment-info-list-item">
          <svg>
            <use href="#percent-icon"></use>
          </svg>

          <div class="investment-info-list-item__inner">
            <span class="investment-info-list-item__title">25 %</span>
            <p class="investment-info-list-item__text">
              Средняя доходность проектов, которые ранее были представлены в клубе, составляет 35% годовых
            </p>
          </div>
        </li>
      </ul>

      <div class="investment-info__inner">
        <div class="investment-info__text">
          <p>
            Все проекты, которые мы рассматриваем, относятся к сфере недвижимости. Это могут быть инвестиции в
            новостройки, землю, доходную жилую и коммерческую недвижимость, мини отели, выкуп залоговых квартир, торги
            по банкротству, строительство апартаментов, займы под залог недвижимости и т.д.
          </p>
          <br>
          <p>
            Благодаря коллективным инвестициям каждый может инвестировать в проекты, в которые иначе никак не мог бы
            попасть.
          </p>
          <br>
          <p>
            Суммы инвестиций начинаются от 250 000 рублей.
          </p>
          <br>
          <p>
            Доходность проектов клуба составит от 25% годовых и выше.
          </p>
        </div>

        <a href="#" class="default-btn default-btn_orange investment-info__link">позвонить нам</a>
      </div>
    </div>

    <div class="investment-projects">
      <h3 class="block-title investment-projects__title">ИНВЕСТИРУЙТЕ В ЭТИ ПРОЕКТЫ ВМЕСТЕ С НАМИ</h3>

      <div class="swiper investment-projects__swiper">
        <div class="swiper-wrapper investment-projects__wrapper">
          <a href="#" class="swiper-slide investment-projects-item">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Открытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide investment-projects-item investment-projects-item_close">
            <div class="investment-projects-item__img">
              <img src="./assets/images/investment-projects-1.jpg" alt="">
            </div>

            <div class="investment-projects-item__container">
              <span class="investment-projects-item__label">Закрытый проект</span>

              <div class="investment-projects-item__inner">
                <h5 class="investment-projects-item__title">москва. пресня</h5>

                <div class="investment-projects-item__info">
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Стоимость</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Внесено</h6>
                    <p class="investment-projects-item__text">106 000 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Бронь</h6>
                    <p class="investment-projects-item__text">3 500 000 руб.</p>
                  </div>
                  <div class="investment-projects-item__box">
                    <h6 class="investment-projects-item__subtitle">Остаток</h6>
                    <p class="investment-projects-item__text">68 200 000 руб.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="swiper-bullet-wrapper investment-projects__bullets">
        </div>
      </div>
    </div>

    <div class="investment-about">
      <h3 class="block-title investment-about__title">ПОЧЕМУ СТОИТ ИНВЕСТИРОВАТЬ В НЕДВИЖИМОСТЬ?</h3>

      <ul class="investment-about__list">
        <li class="investment-about-item">
          <svg viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M5.62212 17.8274L34.5 1.1547L63.3779 17.8274V51.1726L34.5 67.8453L5.62212 51.1726V17.8274Z"
              stroke="url(#paint0_linear_18_875)" stroke-width="2" />
            <path
              d="M30.2727 47L29.4843 47.6152L30.2727 48.6255L31.0611 47.6152L30.2727 47ZM49.7884 23.6152C50.1281 23.1798 50.0506 22.5514 49.6152 22.2116C49.1798 21.8719 48.5514 21.9494 48.2116 22.3848L49.7884 23.6152ZM20.2116 35.7317L29.4843 47.6152L31.0611 46.3848L21.7884 34.5013L20.2116 35.7317ZM31.0611 47.6152L49.7884 23.6152L48.2116 22.3848L29.4843 46.3848L31.0611 47.6152Z"
              fill="#F75000" />
            <defs>
              <linearGradient id="paint0_linear_18_875" x1="34.5" y1="0" x2="34.5" y2="69"
                gradientUnits="userSpaceOnUse">
                <stop />
                <stop offset="1" stop-color="#F75000" />
              </linearGradient>
            </defs>
          </svg>
          Историческая востребованность
        </li>
        <li class="investment-about-item">
          <svg viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M5.62212 17.8274L34.5 1.1547L63.3779 17.8274V51.1726L34.5 67.8453L5.62212 51.1726V17.8274Z"
              stroke="url(#paint0_linear_18_875)" stroke-width="2" />
            <path
              d="M30.2727 47L29.4843 47.6152L30.2727 48.6255L31.0611 47.6152L30.2727 47ZM49.7884 23.6152C50.1281 23.1798 50.0506 22.5514 49.6152 22.2116C49.1798 21.8719 48.5514 21.9494 48.2116 22.3848L49.7884 23.6152ZM20.2116 35.7317L29.4843 47.6152L31.0611 46.3848L21.7884 34.5013L20.2116 35.7317ZM31.0611 47.6152L49.7884 23.6152L48.2116 22.3848L29.4843 46.3848L31.0611 47.6152Z"
              fill="#F75000" />
            <defs>
              <linearGradient id="paint0_linear_18_875" x1="34.5" y1="0" x2="34.5" y2="69"
                gradientUnits="userSpaceOnUse">
                <stop />
                <stop offset="1" stop-color="#F75000" />
              </linearGradient>
            </defs>
          </svg>
          Строительная отрасль - 3 место в объеме ВВП РФ
        </li>
        <li class="investment-about-item">
          <svg viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M5.62212 17.8274L34.5 1.1547L63.3779 17.8274V51.1726L34.5 67.8453L5.62212 51.1726V17.8274Z"
              stroke="url(#paint0_linear_18_875)" stroke-width="2" />
            <path
              d="M30.2727 47L29.4843 47.6152L30.2727 48.6255L31.0611 47.6152L30.2727 47ZM49.7884 23.6152C50.1281 23.1798 50.0506 22.5514 49.6152 22.2116C49.1798 21.8719 48.5514 21.9494 48.2116 22.3848L49.7884 23.6152ZM20.2116 35.7317L29.4843 47.6152L31.0611 46.3848L21.7884 34.5013L20.2116 35.7317ZM31.0611 47.6152L49.7884 23.6152L48.2116 22.3848L29.4843 46.3848L31.0611 47.6152Z"
              fill="#F75000" />
            <defs>
              <linearGradient id="paint0_linear_18_875" x1="34.5" y1="0" x2="34.5" y2="69"
                gradientUnits="userSpaceOnUse">
                <stop />
                <stop offset="1" stop-color="#F75000" />
              </linearGradient>
            </defs>
          </svg>
          Меры поддержки от государства
        </li>
        <li class="investment-about-item">
          <svg viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M5.62212 17.8274L34.5 1.1547L63.3779 17.8274V51.1726L34.5 67.8453L5.62212 51.1726V17.8274Z"
              stroke="url(#paint0_linear_18_875)" stroke-width="2" />
            <path
              d="M30.2727 47L29.4843 47.6152L30.2727 48.6255L31.0611 47.6152L30.2727 47ZM49.7884 23.6152C50.1281 23.1798 50.0506 22.5514 49.6152 22.2116C49.1798 21.8719 48.5514 21.9494 48.2116 22.3848L49.7884 23.6152ZM20.2116 35.7317L29.4843 47.6152L31.0611 46.3848L21.7884 34.5013L20.2116 35.7317ZM31.0611 47.6152L49.7884 23.6152L48.2116 22.3848L29.4843 46.3848L31.0611 47.6152Z"
              fill="#F75000" />
            <defs>
              <linearGradient id="paint0_linear_18_875" x1="34.5" y1="0" x2="34.5" y2="69"
                gradientUnits="userSpaceOnUse">
                <stop />
                <stop offset="1" stop-color="#F75000" />
              </linearGradient>
            </defs>
          </svg>
          Есть инструменты увеличения доходности (ипотека, рассрочка)
        </li>
        <li class="investment-about-item">
          <svg viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M5.62212 17.8274L34.5 1.1547L63.3779 17.8274V51.1726L34.5 67.8453L5.62212 51.1726V17.8274Z"
              stroke="url(#paint0_linear_18_875)" stroke-width="2" />
            <path
              d="M30.2727 47L29.4843 47.6152L30.2727 48.6255L31.0611 47.6152L30.2727 47ZM49.7884 23.6152C50.1281 23.1798 50.0506 22.5514 49.6152 22.2116C49.1798 21.8719 48.5514 21.9494 48.2116 22.3848L49.7884 23.6152ZM20.2116 35.7317L29.4843 47.6152L31.0611 46.3848L21.7884 34.5013L20.2116 35.7317ZM31.0611 47.6152L49.7884 23.6152L48.2116 22.3848L29.4843 46.3848L31.0611 47.6152Z"
              fill="#F75000" />
            <defs>
              <linearGradient id="paint0_linear_18_875" x1="34.5" y1="0" x2="34.5" y2="69"
                gradientUnits="userSpaceOnUse">
                <stop />
                <stop offset="1" stop-color="#F75000" />
              </linearGradient>
            </defs>
          </svg>
          Возможность коллективного инвестирования
        </li>
      </ul>
    </div>

    <div class="apartments-trend investment-trend">
      <div class="container apartments-trend__container">

        <h3 class="block-title apartments-trend__title">
          АПАРТАМЕНТЫ - НОВЫЙ ТРЕНД В ИНВЕСТИРОВАНИИ
        </h3>

        <div class="swiper apartments-trend-swiper">
          <div class="swiper-wrapper apartments-trend-swiper__wrapper">
            <div class="swiper-slide apartments-trend-swiper-slide">
              <div class="apartments-trend-swiper-slide__inner">
                <h5 class="apartments-trend-swiper-slide__title">Цена</h5>

                <div class="apartments-trend-swiper-slide__text">
                  <p>
                    Стоимость апартаментов ниже стоимости жилой недвижимости, что делает их более доступными. Растут в
                    цене
                    даже в кризис, когда увеличивается спрос на ликвидную и доступную недвижимость.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide apartments-trend-swiper-slide">
              <div class="apartments-trend-swiper-slide__inner">
                <h5 class="apartments-trend-swiper-slide__title">ликвидность</h5>

                <div class="apartments-trend-swiper-slide__text">
                  <p>
                    Апартаменты интересны как для инвестирования, так и для проживания. Растут в цене на любом рынке.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide apartments-trend-swiper-slide">
              <div class="apartments-trend-swiper-slide__inner">
                <h5 class="apartments-trend-swiper-slide__title">доходность</h5>

                <div class="apartments-trend-swiper-slide__text">
                  <p>
                    Апартаменты дают возможность получать стабильный пассивный доход от 10% годовых благодаря сдаче в
                    аренду
                    через управляющую компанию.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide apartments-trend-swiper-slide">
              <div class="apartments-trend-swiper-slide__inner">
                <h5 class="apartments-trend-swiper-slide__title">Цена</h5>

                <div class="apartments-trend-swiper-slide__text">
                  <p>
                    Стоимость апартаментов ниже стоимости жилой недвижимости, что делает их более доступными. Растут в
                    цене
                    даже в кризис, когда увеличивается спрос на ликвидную и доступную недвижимость.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide apartments-trend-swiper-slide">
              <div class="apartments-trend-swiper-slide__inner">
                <h5 class="apartments-trend-swiper-slide__title">ликвидность</h5>

                <div class="apartments-trend-swiper-slide__text">
                  <p>
                    Апартаменты интересны как для инвестирования, так и для проживания. Растут в цене на любом рынке.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="apartments-trend-nav">
            <a href="#" class="default-btn default-btn_orange apartments-trend-nav__link">позвонить нам</a>

            <div class="swiper-bullet-wrapper apartments-trend-nav__bullets">
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="investment-main">
    <div class="container">

      <div class="investment-main-info">
        <h3 class="block-title investment-main-info__title">
          Вы входите в проект на этапе преобразования проекта и выходите на этапе реализации
        </h3>

        <div class="investment-main-info__text">
          <p>
            Мы выкупаем на муниципальных торгах нежилые помещения и целые здания. Производим отделочные и ремонтные
            работы, а затем реализуем апартаменты на вторичном рынке.
          </p>
        </div>

        <div class="investment-main-info__inner">
          <div class="investment-main-info-item">
            <h6 class="investment-main-info-item__title">До</h6>
            <div class="investment-main-info-item__img">
              <img src="./assets/images/investment-main-info-1.jpg" alt="">
            </div>
          </div>
          <div class="investment-main-info-item">
            <h6 class="investment-main-info-item__title">После</h6>
            <div class="investment-main-info-item__img">
              <img src="./assets/images/investment-main-info-2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="apartments-income-info investment-main-work">
        <h4 class="block-title apartments-income-info__title">как мы работаем</h4>

        <ul class="apartments-income-info__list investment-main-work__list">
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">1</span>
            <p class="apartments-income-info-item__text">
              Находим здание
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">2</span>
            <p class="apartments-income-info-item__text">
              Делаем расчет
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">3</span>
            <p class="apartments-income-info-item__text">
              Выигрываем торги
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">4</span>
            <p class="apartments-income-info-item__text">
              Получаем ключи
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">5</span>
            <p class="apartments-income-info-item__text">
              Открываем сбор средств
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">6</span>
            <p class="apartments-income-info-item__text">
              Делаем ремонт
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">7</span>
            <p class="apartments-income-info-item__text">
              Запускаем продажи
            </p>
          </li>
          <li class="apartments-income-info-item">
            <span class="apartments-income-info-item__number">8</span>
            <p class="apartments-income-info-item__text">
              Возвращаем инвесторам прибыль
            </p>
          </li>
        </ul>
      </div>

      <div class="apartments-fedback investment-main-feedback">
        <div class="apartments-fedback__container">

          <form action="#" class="apartments-fedback__form">
            <h3 class="block-title apartments-fedback__title">получи персональное предложение</h3>

            <div class="apartments-fedback__inner">
              <label class="apartments-fedback__input">
                Имя
                <input type="text">
              </label>
              <label class="apartments-fedback__input">
                Телефон
                <input type="text">
              </label>

              <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
                получить предложение
              </button>
            </div>
          </form>

          <div class="apartments-fedback-images">
            <div class="apartments-fedback-images__item">
              <img src="./assets/images/apartments-fedback-1.jpg" alt="">
            </div>
            <div class="apartments-fedback-images__item">
              <img src="./assets/images/apartments-fedback-2.jpg" alt="">
            </div>
            <div class="apartments-fedback-images__item">
              <img src="./assets/images/apartments-fedback-3.jpg" alt="">
            </div>
            <div class="apartments-fedback-images__item">
              <img src="./assets/images/apartments-fedback-4.jpg" alt="">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="investment-reason">
      <h3 class="block-title investment-reason__title">5 ПРИЧИН ИНВЕСТИРОВАТЬ В СОЗДАНИЕ АПАРТАМЕНТОВ</h3>

      <div class="investment-reason__description">
        <span class="investment-reason__quote">”</span>

        <div class="investment-reason__text">
          <p>
            Когда мы начали заниматься проектом по инвестициям, мы рассматривали различные проекты в сфере недвижимости:
            покупку земли, торги по банкротству, новостройки и даже зарубежную недвижимость. Но в итоге остановились на
            инвестициях в создание апартаментов.
          </p>
        </div>
      </div>

      <div class="swiper investment-reason__swiper">
        <div class="swiper-wrapper investment-reason__list">
          <div class="swiper-slide investment-reason-item">
            <span class="investment-reason-item__number">01</span>

            <div class="investment-reason-item__inner">
              <h5 class="investment-reason-item__title">ВОСТРЕБОВАННОСТЬ</h5>
              <div class="investment-reason-item__text">
                <p>
                  В центре Санкт-Петербурга, например, историческая застройка не предполагала наличия однокомнатных
                  квартир и уж тем более студий. Что делает этот сегмент востребованным со стороны покупателей? Мы
                  выкупаем аварийные некоммерческие помещения по ценам ниже рыночной. Это могут быть как коммерческие
                  помещения, так и отдельно стоящие здания. Делаем перепланировку, реновацию и увеличиваем тем самым
                  номерной фонд небольших по площади объектов в старом фонде.
                </p>
              </div>
            </div>

            <div class="investment-reason-item__img">
              <img src="./assets/images/investment-reason-1.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide investment-reason-item">
            <span class="investment-reason-item__number">02</span>

            <div class="investment-reason-item__inner">
              <h5 class="investment-reason-item__title">ПРАВИЛЬНАЯ ОЦЕНКА</h5>
              <div class="investment-reason-item__text">
                <p>
                  Мы знаем рынок недвижимости изнутри. «Макромир» занимает лидирующие позиции и 7 место по объёму сделок
                  на вторичном рынке недвижимости в России. Высокая экспертиза и большое количество риэлторов в нашей
                  компании позволяют нам дать справедливую оценку по проектам. Мы знаем реальную ситуацию на рынке и
                  какой сейчас спрос со стороны покупателей.
                </p>
              </div>
            </div>

            <div class="investment-reason-item__img">
              <img src="./assets/images/investment-reason-2.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide investment-reason-item">
            <span class="investment-reason-item__number">03</span>

            <div class="investment-reason-item__inner">
              <h5 class="investment-reason-item__title">ИНТЕРЕС ПОКУПАТЕЛЕЙ</h5>
              <div class="investment-reason-item__text">
                <p>
                  Апартаменты растут в цене на любом рынке: как на падающем, так и на растущем. Чем обусловлен рост
                  стоимости апартаментов, даже когда на рынке снижается спрос? Все просто: те покупатели, кто
                  рассматривал приобретение более дорогой недвижимости с ипотечным плечом, снижают свои аппетиты и
                  рассматривают более дешевое жилье. А те, кто искали дешевле - находят возможность произвести доплату.
                  Получается, что мы концентрируем внимание покупателей в нашем сегменте. Спрос на небольшие метры по
                  более низкой цене всегда есть.
                </p>
              </div>
            </div>

            <div class="investment-reason-item__img">
              <img src="./assets/images/investment-reason-3.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide investment-reason-item">
            <span class="investment-reason-item__number">04</span>

            <div class="investment-reason-item__inner">
              <h5 class="investment-reason-item__title">ИНТЕРЕС ИНВЕСТОРОВ</h5>
              <div class="investment-reason-item__text">
                <p>
                  Апартаменты - это классический вариант для консервативных инвесторов. Деньги в бетоне. Сдача
                  апартаментов через управляющую компанию приносит пассивный доход. В центре города апартаменты могут
                  приносить 10-12% ежегодного дохода инвестору. При стагнации на рынке недвижимости, в условии
                  увеличенного внутреннего туристического потока этот доход может быть еще выше.
                </p>
              </div>
            </div>

            <div class="investment-reason-item__img">
              <img src="./assets/images/investment-reason-4.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide investment-reason-item">
            <span class="investment-reason-item__number">05</span>

            <div class="investment-reason-item__inner">
              <h5 class="investment-reason-item__title">БЫСТРАЯ ПРОДАЖА</h5>
              <div class="investment-reason-item__text">
                <p>
                  В офисе Макромира в Санкт-Петербурге - 340 экспертов по недвижимости. В Москве - 140 экспертов (к
                  концу 2022 года ожидается более 250 экспертов). Мы вовлекаем в продажу апартаментов всех наших
                  риэлторов и быстро закрываем продажи в те сроки, в которые нам это нужно.И конечно, инвестиции в
                  недвижимость - это что-то осязаемое, реальное. То, что даёт уверенность в завтрашнем дне. То, что
                  можно сходить посмотреть и «потрогать». Что-то более доступное и понятное.
                </p>
              </div>
            </div>

            <div class="investment-reason-item__img">
              <img src="./assets/images/investment-reason-5.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="investment-reason__nav">
          <!-- <a href="#" class="default-btn default-btn_orange investment-reason__link">получить предложение</a> -->
          <div class="swiper-bullet-wrapper investment-reason__bullets">
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="apartments-questions">
    <div class="container">

      <h3 class="block-title apartments-questions__title">Часто задаваемые вопросы</h3>

      <ul class="apartments-questions-list">
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Прописка в апартаментах, как получить, что для этого нужно
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Содержание аппартаментов и коммунальные услуги
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Плюсы и минусы апартаментов по сравнению с квартирой
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
        <li class="apartments-questions-list-item">
          <button type="button" class="apartments-questions-list-item__btn">
            Что означает статус апартаментов? И на что он влияет?
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>

          <div class="apartments-questions-list-item__text">
            <p>
              Для получения простоянной регистрации строение должно быть переведено в жилой статус.Уже несколько лет
              прописка в России заменена на регистрацию, которая бывает постоянной и временной (на 5 лет). В
              апартаментах возможна временная регистрация с неограниченным количеством продлений. Оба типа регистрации
              гарантируют гражданам одинаковые социальные права: доступ к системе обязательного медицинского
              страхования, устройство детей в детсады и школы, постановку на воинский учет, получение пенсий и другие.
              Более того, если вы покупаете апартаменты в комплексе, где уже есть управляющая компания, то регистрацией
              жителей будет заниматься именно она.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="feedback">
    <div class="container feedback__container">

      <form action="#" class="feedback-form">
        <h3 class="block-title feedback__title">Заполните форму</h3>

        <p class="feedback__subtitle">
          И получите сравнительный анализ доходности апартаментов в Москве и Санкт-Петербурге
        </p>

        <div class="feedback__inner">
          <label class="apartments-fedback__input">
            Имя
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            Телефон
            <input type="text">
          </label>

          <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
            записаться
          </button>
        </div>
      </form>

    </div>
  </div>

</section>