<section class="objects">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Все объекты</a>
    </div>

    <h1 class="block-title objects__title">Все объекты макромир инвест</h1>

    <h4 class="objects__subtitle">
      Посмотрите все объекты, которые вы можете приобрести, и которые мы уже реализовали
    </h4>

    <div class="objects-filter">
      <h6 class="objects-filter__title">
        <svg>
          <use href="#filter-icon"></use>
        </svg>
        Фильтр
      </h6>

      <div class="swiper objects-filter__swiper">
        <div class="swiper-wrapper">
          <button type="button" class="swiper-slide objects-filter__btn _active">
            Все
          </button>
          <button type="button" class="swiper-slide objects-filter__btn">
            Инвест проект
          </button>
          <button type="button" class="swiper-slide objects-filter__btn">
            Продажа апартаментов
          </button>
          <button type="button" class="swiper-slide objects-filter__btn">
            Закрытый проект
          </button>
        </div>
      </div>
    </div>

    <div class="objects-list">
      <div class="objects-item">
        <div class="objects-item__img">
          <img src="./assets/images/apartments-catalog-1.jpg" alt="">

          <span class="objects-item__label">Продажа апартаментов</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item">
        <div class="objects-item__img">
          <img src="./assets/images/objects-1.jpg" alt="">

          <span class="objects-item__label">Продажа апартаментов</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item">
        <div class="objects-item__img">
          <img src="./assets/images/objects-2.jpg" alt="">

          <span class="objects-item__label">Продажа апартаментов</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item">
        <div class="objects-item__img">
          <img src="./assets/images/objects-3.jpg" alt="">

          <span class="objects-item__label">Продажа апартаментов</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item objects-item_inv">
        <div class="objects-item__img">
          <img src="./assets/images/objects-1.jpg" alt="">

          <span class="objects-item__label">Инвест проект</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item objects-item_close">
        <div class="objects-item__img">
          <img src="./assets/images/objects-2.jpg" alt="">

          <span class="objects-item__label">Закрытый проект</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item objects-item_close">
        <div class="objects-item__img">
          <img src="./assets/images/objects-3.jpg" alt="">

          <span class="objects-item__label">Закрытый проект</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item objects-item_close">
        <div class="objects-item__img">
          <img src="./assets/images/objects-1.jpg" alt="">

          <span class="objects-item__label">Закрытый проект</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
      <div class="objects-item objects-item_close">
        <div class="objects-item__img">
          <img src="./assets/images/objects-2.jpg" alt="">

          <span class="objects-item__label">Закрытый проект</span>
        </div>

        <div class="objects-item__inner">
          <h4 class="objects-item__title">Санкт-петербург, садовая, 101</h4>

          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Доходность:</h6>
            <p class="objects-item__info-text">15 %-17 %</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Количество апартаментов:</h6>
            <p class="objects-item__info-text">20.05.2021</p>
          </div>
          <div class="objects-item__info">
            <h6 class="objects-item__info-title">Срок окупаемости:</h6>
            <p class="objects-item__info-text">7-8 лет</p>
          </div>
        </div>

        <a href="#" class="default-btn default-btn_orange objects-item__link">
          запросить
          цену
        </a>
      </div>
    </div>

  </div>

  <div class="feedback">
    <div class="container feedback__container">

      <form action="#" class="feedback-form">
        <h3 class="block-title feedback__title">Заполните форму</h3>

        <p class="feedback__subtitle">
          И получите сравнительный анализ доходности апартаментов в Москве и Санкт-Петербурге
        </p>

        <div class="feedback__inner">
          <label class="apartments-fedback__input">
            Имя
            <input type="text">
          </label>
          <label class="apartments-fedback__input">
            Телефон
            <input type="text">
          </label>

          <button type="submit" class="default-btn default-btn_orange apartments-fedback__btn">
            записаться
          </button>
        </div>
      </form>

    </div>
  </div>

</section>